name: MasterDeployCI
on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [10.x]
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install Packages
        run: npm install
      - name: Deploy to GH Pages
        run: |
          git config --global user.email "allis.james@gmail.com"
          git config --global user.name "landoGriffin1"
          git remote set-url origin https://${{ secrets.gh_pages }}@github.com/landoGriffin1/digistars.git
          npm run deploy
      - name: Updating Domain
        run: echo "Update domain"
